<div class="row">
  <header class="jumbotron">
    <div class="container-fluid">
    </div>
  </header>

  <div class="col-xs-4 col-xs-offset-4">

    <p class="text-center">So, where are you, exactly?</p>

    <%= render 'form' %>

  </div>
</div>
