<div class="row">
  <header class="jumbotron">
    <div class="container-fluid">
    </div>
  </header>

  <div class="col-xs-4 col-xs-offset-4">

    <p class="text-center">Wanna get away.<br>Tell us where you are and we'll show you all the nearby buses.</p>

    <%= render 'form' %>

  </div>
</div>
