<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <h1 class="text-center">Escape Bus</h1>

    <p class="text-center">Enter your street address or corner and we'll tell you all the nearby buses.</p>

    <%= render 'form' %>

  </div>
</div>
